/* ヘッダー */
#header {
    padding-left: 1rem;
    width: 100%;
    height: 5rem;
    /*line-height: 3rem;*/
    color: #09c; }
    #header .title {
        float: left;
        padding-right: 1rem;
        font-size: 2rem;
        height: 2.5em;
        line-height: 2.5em; }
    #header .output {
        float: left;
        width: 70%; }
    #header #title-edit {
        border: none;}
    #header #popmenu {
        padding-top: 3px;
        font-size: 4.9rem;
    }

#description {
    padding-left: 1rem; 
    font-size: 1rem;
    color: #c7c7c7}

/* タイトル */
#area-title {
    font-size: 1rem;
    color: #c7c7c7;
    width: 100%; }
    #area-title #making-title-wrapper {
        float:left;
        width: 45%; } 
            #area-title #making-title-wrapper .title {
            padding-left: 1rem;
            line-height: 3rem;
            height: 3rem;
            border: solid 1px #E8E8E8; }
            #area-title #making-title-wrapper .title a {
                margin: 0 7px 0 7px;
                font-size: 1.3rem;
                color: #c7c7c7; }
            #area-title #making-title-wrapper .title a:hover {
                /* FIXME: ホバー時にアイコン大きくしたいが列毎ぶれる */
                /*font-size: 1.7rem;*/
                color: #333333; }
                #area-title #making-title-wrapper .title a.last-icon {
                    /* FIXME: 下記をかけるとEDITが→に移動してしまう。 */
                    /*float: right;*/
                    /*padding-right: 1rem;*/ }
            #area-title #making-title-wrapper #target-note {
                width: 230px;
                height: 90%;
                border: none;
                /*float: right;*/ }
    #area-title #visual-title-wrapper {
        float:left;
        width: 55%; }
            #area-title #visual-title-wrapper .title {
            padding-left: 1rem;
            line-height: 3rem;
            height: 3rem;
            border: solid 1px #E8E8E8; }
                #area-title #visual-title-wrapper.full {
                    width: 100%; }
                #area-title #visual-title-wrapper .title a {
                    margin: 0 7px 0 7px;
                    font-size: 1.3rem;
                    color: #c7c7c7; }
                #area-title #visual-title-wrapper .title a:hover {
                    /* FIXME: ホバー時にアイコン大きくしたいが列毎ぶれる */
                    /*font-size: 1.7rem;*/
                    color: #333333; }
                #area-title #visual-title-wrapper .title .full-size-mark {
                    color: #09c;
                    font-size: 2.8rem;
                    cursor: pointer; }

/* 記載部 */
#making-area {
    width: 45%;
    float:left; }

#visual-area {
    float:left;
    padding-top: 5px;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 55%;
    border-left-width: 1px;
    border-style: solid;
    border-color: #E8E8E8;
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif; }
        #visual-area.full {
            width: 100%; }

#main-area {
    width: 95%;
    float: left; }
    #main-area .my_row {
        padding-left: 5px;
        width: 100%;
        min-height: 3rem; }
        #main-area .my_row.focusout {
            border-bottom: solid 1px #f5f5f5; }
        #main-area .my_row.focusin {
            border-bottom: solid 1px #000; }
            #main-area .my_row .my-mark { /* タスクマーク */
                float: left;
                padding-right: 5px;
                line-height: 2.5rem;
                font-size: 1.9rem; }
            #main-area .my_row .my-content { /* タスク内容 */
                /*float: left;*/
                line-height: 3rem; }
                #main-area .my_row .my-content a { /* タスク内容 */
                    color: #09c; }

/* エリアの設定 */
#sidebar-area {
    padding-left: 1rem;    
    float: left; }
    #sidebar-area .my_row {
        line-height: 3rem;
        min-height: 3rem;
        border-bottom: solid 1px #fff; }
        #sidebar-area .my_row.toggle {
            cursor: pointer; }
    #sidebar-area .none-selected {
        border-left-width: 1px;
        border-left-color: #fff;
        border-left-style: solid; }
    #sidebar-area .selected {
        border-left-width: 1px;
        border-left-color: #000;
        border-left-style: solid; }

/**
 * 各要素ごとの設定
 */
.my-title {
    font-size: 2em;
    color: #09c; }

.my-mark {
    /*color: #09c;*/
    color: #000; }

#sidebar-area .my-mark.dummy {
    color: #fff; }

.mark-done .my-mark {
    color: #c7c7c7; }

.mark-task {
    background-color: #fff; } 
    .mark-task .char-font {
        color: #000; }

.mark-done {
    background-color: #fff; }
    .mark-done .char-font {
        color: #c7c7c7;
        text-decoration: line-through; }

.mark-supplement { 
    background-color: #fff; }
    .mark-supplement .char-font {
        color: #000;
        /*font-style: oblique;*/
        font-weight: bold; }

.mark-comment { 
    background-color: #fff; }
    .mark-comment .char-font {
        font-size: 1rem;
        color: #000; }
    .mark-comment .my-content {
        /*background-color: #c7c7c7;*/
        /*display: none;*/ }

.mark-question { 
    background-color: #fff; }
    .mark-question .char-font {
        font-weight: bold;
        color: #000; }

.mark-info { 
    background-color: #fff; }
    .mark-info .char-font {
        font-weight: bold;
        color: #000; }

.mark-conclusion { 
    background-color: #fff; }
    .mark-conclusion .char-font {
        color: #ff4500;
        /*font-weight: bold;*/ }


/**
 * モーダルの設定
 */
.modal .modal-header {
    color: #09c;
}

#variables-modal table {
    border: none; }
    #variables-modal table tr.row-var td {
        text-align: right; }
        #variables-modal table tr.row-var td input {
            border: none; }

#trash-modal .on-scroll{
    overflow: auto; 
    max-height: 500px; }
    #trash-modal .modal-body {
        height: 500px; }
        #trash-modal table {
            font-size: 20px;
            border: none; }
                #trash-modal table tr.row-var td input.delete-flag {
                    margin: 13px 0 0 13px;
                    transform: scale(2.5); }
                #trash-modal table tr.row-var td input{
                    border: none;
                }

#simbol-list-modal .on-scroll{
    overflow: auto; 
    max-height: 500px; }

/* オーバーレイの実装 */
/* [参考](http://coliss.com/articles/build-websites/operation/css/css-centering-in-the-unknown-by-css-tricks.html) */
#overlay{
    width: 100%;
    height:100%;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background: rgba(255, 255, 255, 1); }
    #overlay:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -0.25em; }
    #overlay .content{
        font-size: 40px;
        color: #09c;
        font-weight: bold;
        margin: auto;
        display: inline-block;
        vertical-align: middle; }

/* メニューポップアップ */
ul.floating-menu.animated.fadeInPosition {
    background: #09c;} 
    ul.floating-menu[data-fm-floated="top"]:before{
    border-top: 9px solid #09c !important;} 
