/* ヘッダー */
#header {
    padding-left: 1rem;
    width: 100%;
    height: 3rem;
    line-height: 3rem;
    color: #09c; }

#description {
    padding-left: 1rem; 
    font-size: 1rem;
    color: #c7c7c7}

/* タイトル */
#area-title {
    font-size: 1rem;
    color: #c7c7c7;
    width: 100%; }
    #area-title #making-title-wrapper {
        float:left;
        width: 50%; } 
            #area-title #making-title-wrapper #title {
            padding-left: 1rem;
            line-height: 3rem;
            height: 3rem;
            border: solid 1px #E8E8E8; }
                #area-title #making-title-wrapper #title a{
                    color: #c7c7c7; }
    #area-title #visual-title-wrapper {
        float:left;
        width: 50%; }
            #area-title #visual-title-wrapper #title {
            padding-left: 1rem;
            line-height: 3rem;
            height: 3rem;
            border: solid 1px #E8E8E8; }
                #area-title #visual-title-wrapper #title a{
                    color: #c7c7c7; }
                #area-title #visual-title-wrapper #title .full-size-mark{
                    color: #09c;
                    font-size: 2.8rem;
                    cursor: pointer; }

/* 記載部 */
#making-area {
    float:left; }
    #making-area #content.form-control{
        overflow-x: scroll;
        overflow-y: scroll;
        font-size: 1.5rem;
        height: 100%;
        width: 100%; }

#visual-area {
    float:left;
    overflow: scroll;
    overflow-x: scroll;
    overflow-y: scroll;
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif; }

#main-area {
    padding-top: 5px;
    width: 95%;
    float: left; }
    #main-area .my_row {
        padding-left: 5px;
        width: 100%;
        min-height: 3rem; }
        #main-area .my_row.focusout {
            border-bottom: solid 1px #f5f5f5; }
        #main-area .my_row.focusin {
            border-bottom: solid 1px #000; }
            #main-area .my_row .my-mark { /* タスクマーク */
                float: left;
                padding-right: 5px;
                line-height: 3rem; }
            #main-area .my_row .my-content { /* タスク内容 */
                /*float: left;*/
                line-height: 3rem; }

/* エリアの設定 */
#sidebar-area {
    padding-left: 1rem;    
    float: left; }
    #sidebar-area .my_row {
        line-height: 3rem;
        min-height: 3rem;
        border-bottom: solid 1px #fff; }
        #sidebar-area .my_row.toggle {
            cursor: pointer; }

/**
 * 各要素ごとの設定
 */
.my-title {
    font-size: 2em;
    color: #09c; }

.my-mark {
    /*color: #09c;*/
    color: #000; }

.mark-done .my-mark {
    color: #c7c7c7; }

.mark-task {
    background-color: #fff; } 
    .mark-task .char-font {
        color: #000; }

.mark-done {
    background-color: #fff; }
    .mark-done .char-font {
        color: #c7c7c7;
        text-decoration: line-through; }

.mark-supplement { 
    background-color: #fff; }
    .mark-supplement .char-font {
        color: #000;
        /*font-style: oblique;*/
        font-weight: bold; }

.mark-comment { 
    background-color: #fff; }
    .mark-comment .char-font {
        font-size: 1rem;
        color: #000; }
    .mark-comment .my-content {
        /*background-color: #c7c7c7;*/
        /*display: none;*/ }

.mark-conclusion { 
    background-color: #fff; }
    .mark-conclusion .char-font {
        color: #ff0000;
        /*font-weight: bold;*/ }


/**
 * モーダルの設定
 */
.modal .modal-header {
    color: #09c;
}